.venv/
saved_model/
__pycache__/
*.egg-info/
*.pyc
*.pkl
~*.docx
~*
data/
*.bmp
*.png
*.jpg
*.pdf
*.pptx
*.docx
*.zip
*.drawio

# latex
*.aux
*.fdb_latexmk
*.fls
*.log
*.gz
*.bbl
*.blg
*.dvi

*.bak

**/.DS_Store