.venv/

__pycache__/
*.egg-info/
*.pyc
~*.docx
~*

*.bmp
*.pdf
*.pptx
*.docx
*.zip
*.drawio

# latex
*.aux
*.fdb_latexmk
*.fls
*.log
*.gz
*.bbl
*.blg
*.dvi

*.bak

**/.DS_Store
image_output_inverse.png

image_output.png
